@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin: 1rem;
    font-size: 1.3rem;
}

h2{
    margin: 1rem;
    font-size: 1.3rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 1rem;
    font-weight: bolder;
}

.quiz-container {
    background-color: aliceblue;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.quiz-button {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #009ffd;
    border-style: none;
    border-radius: 3px;
    outline: none;
}

.quiz-button:hover {
    background-color: #3187b9;
    cursor: pointer;
}

